* {background-color: rgb(238, 255, 240);
    font-family: Arial, Helvetica, sans-serif;
    max-width: 700px;
    margin: auto;
}
.subtit:hover {
    text-decoration-line: underline;
    color: rgb(206, 166, 166);
}
.links:hover {
    background-color: rgb(127, 179, 187);
  transition: background-color .5s;
}
.links:hover {
    background-color: rgb(107, 155, 81);
}
.experiencia {
    color: rgb(95, 122, 139);
    
}
#foto {
    border: 5px solid rgb(184, 224, 91);
    border-radius: 20px;
    max-width: 400;
}
#boton {
    border-radius: 20px;
    padding-bottom: 10px;
  }
h1 {
    text-align: center;
}

 